* {
  box-sizing: border-box;
  margin: 0;
}

#wpadminbar {
  display: none !important;
}

body {
  position: relative;
}

main {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.curtain, .curtain_header, .curtain_gray {
  flex: none;
  height: 20px;
  margin: -0 0px 0px 0px;
  width: 100%;
  z-index: 4;
  max-width: 100%;
}
.curtain, .curtain_gray {
  position: absolute;
  bottom: 0;
}
.curtain_header {
  position: fixed;
}
.curtain:after, .curtain_header:after, .curtain_gray:after {
  /* background-image: url(<?php echo get_template_directory_uri(); ?>/assets/svg/rhinestone.svg); */
  background-position: center bottom;
  background-size: 300px;
  bottom: 0;
  /* background-position: 50%; */
  /* background-size: cover; */
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: inherit;
  width: 100%;
  z-index: -2;
}

.curtain_header:after {
  top: 0;
}

.curtain:after, .curtain_gray:after {
  top: 17px;
}

.border-radius--img img {
  border-radius: 10px;
}

.scrollbar-custom {
  &::-webkit-scrollbar {
      width: 5px;
  }

  &::-webkit-scrollbar-track {
      background: #f5faff;
      border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
      background: #ebebf2;
      border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #f5faff;
  }
  }

  .scrollbar-custom-sm {
  &::-webkit-scrollbar {
      height: 5px;
  }

  &::-webkit-scrollbar-track {
      background: #f5faff;
      border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
      background: #ebebf2;
      border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
      background: #f5faff;
  }
  }


@media (max-width: 640px) {
  .curtain, .curtain_header, .curtain_gray {
    height: 16px;
  }
  .curtain:after, .curtain_gray:after {
    top: 12px;
  }
}