.z-index-negative {
  z-index: -10;
}

#slide_phone .swiper {
  width: 100%;
  height: 100%;
}

#slide_phone .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;

  transform: translateY(50px) !important;
}

#slide_phone .swiper .swiper-slide:nth-child(2n) {
  transform: translateY(100px) !important;
}

#slide_phone .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#project-slider.swiper {
  width: 100%;
  height: 100%;
}

#project-slider.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-slider.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.decorative-text {
    width: 100%;
    height: 100%;
    vertical-align: top;

}

.decorative-text--1 {
  margin-top: -30px;
  stroke: #fff;
  fill: transparent;
  width: 4108px;
  height: 170px;
  display: flex;
  overflow: hidden;
}
.decorative-text--1 div:first-child {
  -webkit-animation: loopLeft1 60s -30s linear infinite;
  animation: loopLeft1 60s -30s linear infinite;
}
.decorative-text--1 div:last-child {
  -webkit-animation: loopLeft2 60s linear infinite;
  animation: loopLeft2 60s linear infinite;
}
.decorative-text--2 {
  width: 4108px;
    height: 170px;
    display: flex;
    overflow: hidden;
    margin-top: -70px;

}
.decorative-text--2 div:first-child {
  -webkit-animation: loopRight1 60s -30s linear infinite;
  animation: loopRight1 60s -30s linear infinite;
}
.decorative-text--2 div:last-child {
  -webkit-animation: loopRight2 60s linear infinite;
  animation: loopRight2 60s linear infinite;
}

.create-3dots {
  overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
}

.news-link-bg-slice::before {
  z-index: -1;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #3d3d3e;
  content: "";
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.news-link-bg-slice:hover::before {
  left: 0;
}

.menu-top::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  right: 100%;
  height: 1px;
  background-color:#1e3a8a;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.menu-top:hover::after {
  left: 0%;
  right: 0%;
}

.banner-slide {
  /* animation: scroll 60s linear infinite 60s; */
  animation: scroll 5s linear infinite;
  animation-delay: 5s;
  /* animation-delay: 60s; */
  /* animation-delay: 2s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; */
}

.btn-arrow:hover img{
  transition: all 0.3s;
  transform: rotate(180deg);
}

@keyframes loopLeft1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes loopLeft2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}


@keyframes loopRight1 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes loopRight2 {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(50%);
  }
  /* 6.23%  {
    transform: translateY(-100%);
  } */
  100% {
    transform: translateX(0%);
  }
}