html {
  scroll-behavior: smooth;
}

:root {
  --window-width: tan(atan2(var(--100vw), 1px));
  --px: calc(1px * max(1440, var(--window-width)) / 1440);
  --rem: calc(1rem * max(1440, var(--window-width)) / 1440);
}

.z-index-negative {
  z-index: -10;
}

/* OUR PROJECT */
#project-slider.swiper {
  width: 100%;
  height: 100%;
}

#project-slider.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#project-slider.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.decorative-text {
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.decorative-text--1 {
  margin-top: -30px;
  stroke: #5f5f5f;
  fill: transparent;
  width: 4108px;
  height: 170px;
  /* display: flex; */
  overflow: hidden;
}

.decorative-text--1 div:first-child {
  -webkit-animation: loopLeft1 60s -30s linear infinite;
  animation: loopLeft1 60s -30s linear infinite;
}

.decorative-text--1 div:last-child {
  -webkit-animation: loopLeft2 60s linear infinite;
  animation: loopLeft2 60s linear infinite;
}

.decorative-text--2 {
  width: 4108px;
  height: 170px;
  /* display: flex; */
  overflow: hidden;
  margin-top: -70px;
}

.decorative-text--2 div:first-child {
  -webkit-animation: loopRight1 60s -30s linear infinite;
  animation: loopRight1 60s -30s linear infinite;
}

.decorative-text--2 div:last-child {
  -webkit-animation: loopRight2 60s linear infinite;
  animation: loopRight2 60s linear infinite;
}

@media (max-width: 768px) {
  .decorative-text--1,
  .decorative-text--2 {
    width: 1000px;
  }

  .decorative-text--2 {
    margin-top: -110px;
  }
}
.create-3dots {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.news-link-bg-slice::before {
  z-index: -1;
  position: absolute;
  top: 0;
  right: auto;
  bottom: auto;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 61, 62, 0.5);
  content: "";
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  z-index: 1;
}

.news-link-bg-slice:hover::before {
  left: 0;
}

.divide-bottom {
  border-bottom: 1px solid #fff !important;
}

.gradient-text {
  background: linear-gradient(to bottom, #fff 50%, rgba(0, 0, 0, 0) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: screen;
  opacity: 0.1;
  text-transform: uppercase;
  font-size: 16rem;
  font-weight: 800;
}

@media (max-width: 1500px) {
  .gradient-text {
    font-size: 15rem;
  }
}
@media (max-width: 1300px) {
  .gradient-text {
    font-size: 13rem;
  }
}
@media (max-width: 720px) {
  .gradient-text {
    font-size: 6rem;
  }
}
@media (max-width: 560px) {
  .gradient-text {
    font-size: 3rem;
  }
}
.business_title:hover img {
  transform: rotate(-45deg);
  animation: rotateImage 0.3s ease;
}

/*start  what we do */
.clip-path__work {
  clip-path: polygon(0 0, 30% 0, 100% 100%, 30% 100%, 0 60%);
}

@media (max-width: 1500px) {
  .clip-path__work {
    /* clip-path: polygon(0 0, 30% 0, 100% 100%, 35% 100%, 0 50%); */
    clip-path: polygon(0 0, 26% 0, 100% 100%, 26% 100%, 0 64%);
  }
}

@media (max-width: 1500px) {
  .clip-path__work {
    clip-path: polygon(0 0, 26% 0, 100% 100%, 38% 100%, 0 45%);
  }
}
.text--effect {
  position: relative;
  /* overflow: hidden; */
  display: flex;
  flex-wrap: wrap;
  opacity: 1;
  background: linear-gradient(0, #fff, #fff, #fff);
  background-repeat: no-repeat;
  animation: animate 1.5s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

/* end what we do */
@keyframes animate {
  0% {
    background-size: 80%;
    background-position: -500%;
  }
  100% {
    background-size: 100%;
    /* background-position: 500%; */
  }
}
@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-45deg);
  }
}
.banner-slide {
  /* animation: scroll 60s linear infinite 60s; */
  animation: scroll 5s linear infinite;
  animation-delay: 5s;
  /* animation-delay: 60s; */
  /* animation-delay: 2s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; */
}

.btn-arrow:hover img {
  transition: all 0.3s;
  transform: rotate(180deg);
}

@keyframes loopLeft1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes loopLeft2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes loopRight1 {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes loopRight2 {
  0% {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(50%);
  }
  /* 6.23%  {
    transform: translateY(-100%);
  } */
  100% {
    transform: translateX(0%);
  }
}
.list-cats--wrap img {
  transition: all 0.3s;
}
.list-cats--wrap:hover img {
  transform: rotate(0deg) !important;
}
.list-cats--wrap.is-show img {
  transform: rotate(90deg) !important;
}

.news--list-categories {
  display: block;
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  margin-top: 10px;
  border-radius: 9999px;
  border-radius: 40px;
  padding: 20px 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: all 0.3s;
}
.news--list-categories.is-show {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
.news--list-categories ._list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 8px;
  padding: 10px 20px;
}
.news--list-categories ._list li {
  display: block;
  margin-bottom: 10px;
  margin-right: 35px;
  border-bottom: 1px solid;
}
.news--list-categories ._list li:last-child {
  margin-bottom: 0;
}
.news--list-categories ._list a {
  font-weight: 700;
}

.footer-contact-card {
  position: relative;
  background-size: cover;
  background-position: center;
}
.footer-contact-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  transition: all 0.28s;
  z-index: 1;
  pointer-events: none;
}
.footer-contact-card > * {
  position: relative;
  z-index: 2;
}
.footer-contact-card:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .site-header {
    right: 0;
    left: 0;
    top: 0;
    border-radius: 0;
  }
  .site-header #open-nav {
    margin-top: -6px;
  }
  .site-header #open-nav .icon-menu {
    width: 38px;
    height: 1px;
  }
  .site-header ._logo img {
    max-width: 169px;
    margin-left: -37px;
  }
}

@media (max-width: 768px) {
  .footer-logo img {
    width: 200px;
    margin-left: -27px;
  }
}

.footer-social img:hover {
  background: azure;
}

/*# sourceMappingURL=style.css.map */
.blur-image {
  filter: blur(5px); /* Điều chỉnh mức độ mờ, tăng giá trị để mờ hơn */
  -webkit-filter: blur(5px); /* Đảm bảo hỗ trợ trình duyệt Webkit */
  object-fit: cover; /* Đảm bảo hình ảnh không bị biến dạng */
}
.achievement-border-radius {
  border-radius: 1rem;
}
